<script src="@routes.Assets.versioned("javascripts/browser.js")"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/browser.css")">

<div id="browser">
    <div id="leading-panel">
        <div id="games-action-panel">
            <a href="#" id="add-game-button">
                <i class="fa fa-plus-circle"></i>
                Add Game
            </a>
        </div>
        
        <div id="games-list">
            <table>
            </table>
        </div>
    </div>
    
    <div id="inspector">
    </div>
</div>
